<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Patient Information</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

  <div class="container">
    <h1 class="my-4">Update Patient Information</h1>
    <form method="POST" action="/update/<%= patient._id %>">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" value="<%= patient.name %>" required>
      </div>
      <div class="form-group">
        <label for="number">Phone Number</label>
        <input type="tel" class="form-control" name="number" value="<%= patient.number %>" pattern="[0-9]{10}" required>
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="date" class="form-control" name="dob" value="<%= patient.dob %>" required>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" name="city" value="<%= patient.city %>" required>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
      <a href="/" class="btn btn-secondary">Cancel</a>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
